.reviews-bg {
    background-color: rgb(247 247 247);
    height: 100vh;
    width: 100%;
    padding: 60px 0px;
    overflow: hidden;
    /* Prevent overflow */
    position: relative;
}

.reviews-content {
    width: 100%;
    margin: 0px 40px;
    position: relative;
    z-index: 1;
}

.reviews-content h2 {
    margin: 5% 0%;
}

.carousel {
    position: relative;
    z-index: 1;
    margin-bottom: 30px;
    width: 100%;
    /* Ensure carousel takes full width */
}

.slick-slide {
    display: flex !important;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 0;
}

.carousel-item img {
    max-width: 100%;
    /* Ensure images scale correctly */
    object-fit: cover;
    /* Or 'contain' if you want to preserve aspect ratio */
    width: 100%;
    /* You can specify a fixed width, or leave it as 100% */
    height: 200px;
    /* Adjust the height as per your requirement */
}

.slick-track {
    display: flex !important;
    justify-content: center;
}

.carousel-item {
    flex: 0 0 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}